@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg:           #F5F4EF;
  --surface:      #FFFFFF;
  --surface-2:    #EDECEA;
  --border:       rgba(0, 0, 0, 0.09);
  --border-s:     rgba(0, 0, 0, 0.17);
  --text:         #18180F;
  --text-2:       #57564D;
  --text-3:       #97968E;
  --accent:       #C8860A;
  --accent-bg:    #FBF0D8;
  --accent-bd:    #DEB84A;
  --green:        #1A7A4A;
  --green-bg:     #EAF9F0;
  --blue:         #1B5FA8;
  --blue-bg:      #E8F1FB;
  --red:          #B83232;
  --red-bg:       #FCEAEA;
  --radius:       5px;
  --radius-sm:    3px;
}

.dark {
  --bg:           #111110;
  --surface:      #191918;
  --surface-2:    #222220;
  --border:       rgba(255, 255, 255, 0.07);
  --border-s:     rgba(255, 255, 255, 0.13);
  --text:         #EDECE4;
  --text-2:       #A4A39B;
  --text-3:       #605F58;
  --accent:       #E09A20;
  --accent-bg:    #251C06;
  --accent-bd:    #684B0D;
  --green:        #2DB870;
  --green-bg:     #081A0F;
  --blue:         #4D9EF0;
  --blue-bg:      #071422;
  --red:          #E05555;
  --red-bg:       #210707;
}

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--border-s);
  border-radius: 99px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--text-3);
}
